body {
    font-family: 'Orbitron', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url('https://i.imgur.com/0Q4RbF4.png');
    /* background-image: 'images/background.png' */
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
}
/* dialogue box*/
#container {
    display: none;
    background-image: linear-gradient(to right, #66a80f, #c0eb75);
    background-size:cover;
    color: white;
    /* position: absolute; */
    width: 900px;
    /* border-radius: 5px; */
    border: black solid 7px;
    left: 50%;
    margin-left: 20%;
    margin-top: 15vh;
    padding: 16px 8px 8px;
    box-sizing: border-box;
    margin-bottom: 100vh;
}
/* Designing dialog box's okay button */
#container .yes {
    background-color: #5c940d;
    display: inline-block;
    /* border-radius: 5px; */
    border: 4px solid black;
    padding: 5px;
    margin-left: 170px;
    text-align: center;
    width: 220px;
    float: none;
}
 
#container .no {
    background-color: #22b8cf;
    display: inline-block;
    /* border-radius: 5px; */
    border: 4px solid black;
    padding: 5px;
    margin-right: 170px;
    text-align: center;
    width: 220px;
    float: right;
}
 
#container .yes:hover {
    background-color: #82c91e;

}
 
#container .no:hover {
    background-color: #99e9f2;

}
 
/* Dialog box message decorating */
#container .message {
    text-align: left;
    padding: 10px 30px;
}
/*buttons*/
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

#title {
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    /* padding: 1vh;
    margin: 1vh; */
    /* justify-self: center; */
}
.title {
    margin-top: 3vh;
    margin-left: 8px;
    margin-right: 8px;
}
#computerScore {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}

#playerScore {
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}
.cards {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 10px;
    border: 0px;
}

#catpath {
    height: 12vh;
    background-color: transparent;
    display: block;
    margin: auto;
}

.catpaths {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
}

.pawprints {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#needHelp {
    margin-right: 10px;
}

#feedback {
    margin-left: 10px;
    margin-right: 10px;
}

#restart {
    margin-left: 10px;
}

#pawprint {
    height: 12vh;
}

.info {
    margin: 10px 10px 20px 10px;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    color: white;
    height: 22vh;
    width: 300vh;
}
.hidden{
    display: none
}

.catPathCards {
    display: flex;
    height: 10vh;
}
ul li {
    display: inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.computerInfo {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    border: 4px solid black;
    padding: 5px;
    background: #92CC41;
    min-width: 30vw;
}

.playerInfo {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    border: 4px solid black;
    padding: 5px;
    background: #92CC41;
    color: black;
    min-width: 30vw;
}

.playerPawPrints {
    color: black;
    display: grid;
    grid-template-columns: repeat(2, 90px);
    grid-auto-rows: minmax(60px, auto);
}
#playerOrange {
    grid-column: 1;
    grid-row: 1;
    }
#playerBlack {
    grid-column: 2;
    grid-row: 1;
    }
#playerGrey {
    grid-column: 1;
    grid-row: 2;
    }
#playerWhite {
    grid-column: 2;
    grid-row: 2;
    }
#playerBrown {
    grid-column: 1;
    grid-row: 3;
    }
.computerPawPrints {
    display: grid;
    grid-template-columns: repeat(2, 90px);
    grid-auto-rows: minmax(60px, auto);
}
#computerOrange {
    grid-column: 1;
    grid-row: 1;
    }
#computerBlack {
    grid-column: 2;
    grid-row: 1;
    }
#computerGrey {
    grid-column: 1;
    grid-row: 2;
    }
#computerWhite {
    grid-column: 2;
    grid-row: 2;
    }
#computerBrown {
    grid-column: 1;
    grid-row: 3;
    }
.pawPrintCards {
    height: 5vh;
    display: inline-block
}

.playerScore {
    display: flex;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-self: center;
}

.computerScore {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: center;
    justify-self: center;
}

/* .score {
    /* display: flex;
    width: 5vw;
    justify-content: left; */
    /* margin-top: 10vh; */
/* } */ 

h1 {
    font-weight: 800;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

p {
    font-size: 80%;
    color: black;
}
/* button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    background-color: aqua;
    border: 2px solid;
    border-radius: 4px;
    font-family: 'Orbitron', sans-serif;
} */

/* h3 {
    font-family: 'Orbitron', sans-serif;
    /* position: absolute;
    bottom: 0; 
 }  */
.gameboard {
    display: flex;
    justify-content: center;
    
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(11, 135px);
    grid-auto-rows: minmax(135px, auto);
    max-width: 1225px;
    margin-bottom: 30px;
    background: rgba(255, 255, 255, .5);
    border-radius: 30px;
    /* padding-right: 10px; */

}
.one {
    grid-column: 1 / 3;
    grid-row: 1 / 3;

  }
.onea {
    grid-column: 3;
    grid-row: 1;

}
.two {
grid-column: 4 / 6;
grid-row: 1;
}
.three {
grid-column: 6 / 9;
grid-row: 1;
}
/* .threea {
grid-column: 8;
grid-row: 1;
} */
.threea {
grid-column: 9;
grid-row: 2;
}
.four {
grid-column: 2;
grid-row: 3;
}
.five {
grid-column: 3;
grid-row: 2 / 4;
}
.six {
grid-column: 4 / 6;
grid-row: 2;
}
.seven {
grid-column: 6;
grid-row: 2;
}
.eight {
grid-column: 7 / 9;
grid-row: 2 / 4;
}
.nine {
grid-column: 1;
grid-row: 3 / 5;
}
.ten {
grid-column: 4 / 6;
grid-row: 3;
}
.eleven {
grid-column: 6;
grid-row: 3 / 5;
}
/* .twelve {
grid-column: 7 / 9;
grid-row: 3;
} */
.thirteen {
grid-column: 2 / 4;
grid-row: 4;
}
/* .fourteen {
grid-column: 4;
grid-row: 4;
} */
.fifteen {
grid-column: 4 / 6;
grid-row: 4;
}
.sixteen {
grid-column: 9;
grid-row: 3 / 5;
}
.seventeen {
grid-column: 7 / 9;
grid-row: 4;
}


/* font weights: 500, 800 
font-family: 'Orbitron', sans-serif;
font-family: 'Press Start 2P', cursive;
*/