body {
    font-family: 'Orbitron', sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url('https://i.imgur.com/0Q4RbF4.png');
    /* background-image: 'images/background.png' */
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
}
/* dialogue box*/
#container{
    display: none;
    background-image: linear-gradient(to right, #66a80f, #c0eb75);
    background-size:cover;
    color: white;
    /* position: absolute; */
    width: 900px;
    /* border-radius: 5px; */
    border: black solid 7px;
    left: 40vw;
    margin: 15vh auto;
    margin-top: 15vh;
    padding: 16px 8px 8px;
    box-sizing: border-box;
    margin-bottom: 100vh;
}
/* Designing dialog box's okay button */
#container .yes{
    background-color: #5c940d;
    display: inline-block;
    /* border-radius: 5px; */
    border: 4px solid black;
    padding: 5px;
    /* margin: 15vh auto; */
    margin-left: 170px;
    text-align: center;
    width: 220px;
    float: none;
}
 
#container .no{
    background-color: #22b8cf;
    display: inline-block;
    /* border-radius: 5px; */
    border: 4px solid black;
    padding: 5px;
    /* margin: 15vh auto; */
    margin-right: 170px;
    text-align: center;
    width: 220px;
    float: right;
}
 
#container .yes:hover {
    background-color: #82c91e;

}
 
#container .no:hover {
    background-color: #99e9f2;

}
 
/* Dialog box message decorating */
#container .message .noMoreCatPaths .drawACatPath{
    text-align: left;
    padding: 10px 30px;
}




/* dialogue box*/
#reset{
    display: none;
    background-image: linear-gradient(to right, #66a80f, #c0eb75);
    background-size:cover;
    color: white;
    /* position: absolute; */
    width: 900px;
    /* border-radius: 5px; */
    border: black solid 7px;
    left: 40vw;
    margin: 15vh auto;
    margin-top: 15vh;
    padding: 16px 8px 8px;
    box-sizing: border-box;
    margin-bottom: 100vh;
}
/* Designing dialog box's okay button */
#reset .yesReset{
    background-color: #5c940d;
    display: inline-block;
    /* border-radius: 5px; */
    border: 4px solid black;
    padding: 5px;
    /* margin: 15vh auto; */
    margin-left: 170px;
    text-align: center;
    width: 220px;
    float: none;
}
 
#reset .noReset{
    background-color: #22b8cf;
    display: inline-block;
    /* border-radius: 5px; */
    border: 4px solid black;
    padding: 5px;
    /* margin: 15vh auto; */
    margin-right: 170px;
    text-align: center;
    width: 220px;
    float: right;
}
#reset .yesReset:hover {
    background-color: #82c91e;

}
#reset .noReset:hover {
    background-color: #99e9f2;

}
/* Dialog box message decorating */
#reset .reset {
    text-align: left;
    padding: 10px 30px;
}


#noMoreCatPaths{
    display: none;
    background-image: linear-gradient(to right, #66a80f, #c0eb75);
    background-size:cover;
    color: white;
    /* position: absolute; */
    width: 900px;
    /* border-radius: 5px; */
    border: black solid 7px;
    left: 40vw;
    margin: 15vh auto;
    margin-top: 15vh;
    padding: 16px 8px 8px;
    box-sizing: border-box;
    margin-bottom: 100vh;
    font-size: 20px;
}
/* Designing dialog box's okay button */
#noMoreCatPaths  .ok{
    background-color: #5c940d;
    display: inline-block;
    /* border-radius: 5px; */
    border: 4px solid black;
    padding: 5px;
    /* margin: 15vh auto; */
    margin-left: 170px;
    text-align: center;
    width: 220px;
    float: none;
}
#noMoreCatPaths .noCatPaths{
    background-color: #22b8cf;
    display: inline-block;
    /* border-radius: 5px; */
    border: 4px solid black;
    padding: 5px;
    /* margin: 15vh auto; */
    margin-right: 170px;
    text-align: center;
    width: 220px;
    float: right;
}
#noMoreCatPaths .ok:hover{
    background-color: #82c91e;

}
#noMoreCatPaths .noCatPaths:hover{
    background-color: #99e9f2;

}
/* Dialog box message decorating */
#noMoreCatPaths .noMoreCatPaths{
    text-align: left;
    padding: 10px 30px;
}

#drawACatPath{
    display: none;
    background-image: linear-gradient(to right, #66a80f, #c0eb75);
    background-size:cover;
    color: white;
    /* position: absolute; */
    width: 780px;
    /* border-radius: 5px; */
    border: black solid 7px;
    left: 40vw;
    margin: 15vh auto;
    margin-top: 15vh;
    padding: 20px 8px 8px;
    box-sizing: border-box;
    margin-bottom: 100vh;
    font-size: 25px;
}
/* Designing dialog box's okay button */
#drawACatPath .drawCatPath{
    background-color: #22b8cf;
    display: inline-block;
    /* border-radius: 5px; */
    border: 4px solid black;
    padding: 5px;
    /* margin: 15vh auto; */
    margin-right: 50px;
    text-align: center;
    width: 220px;
    float: right;
}
#drawACatPath .drawCatPath:hover{
    background-color: #99e9f2;

}
/* Dialog box message decorating */
#drawACatPath .drawACatPath{
    text-align: left;
    padding: 10px 30px;
}

#noMorePawPrints{
    display: none;
    background-image: linear-gradient(to right, #66a80f, #c0eb75);
    background-size:cover;
    color: white;
    /* position: absolute; */
    width: 780px;
    /* border-radius: 5px; */
    border: black solid 7px;
    left: 40vw;
    margin: 15vh auto;
    margin-top: 15vh;
    padding: 20px 8px 8px;
    box-sizing: border-box;
    margin-bottom: 100vh;
    font-size: 20px;
}
/* Designing dialog box's okay button */
#noMorePawPrints .noPawPrints{
    background-color: #22b8cf;
    display: inline-block;
    /* border-radius: 5px; */
    border: 4px solid black;
    padding: 5px;
    /* margin: 15vh auto; */
    margin-right: 50px;
    text-align: center;
    width: 220px;
    float: right;
}
#noMorePawPrints .noPawPrints:hover{
    background-color: #99e9f2;

}
/* Dialog box message decorating */
#noMorePawPrints .noMorePawPrintsh{
    text-align: left;
    padding: 10px 30px;
}



#claimedPawPath{
    display: none;
    background-image: linear-gradient(to right, #66a80f, #c0eb75);
    background-size:cover;
    color: white;
    /* position: absolute; */
    width: 780px;
    /* border-radius: 5px; */
    border: black solid 7px;
    left: 40vw;
    margin: 15vh auto;
    margin-top: 15vh;
    padding: 20px 8px 8px;
    box-sizing: border-box;
    margin-bottom: 100vh;
    font-size: 20px;
}
/* Designing dialog box's okay button */
#claimedPawPath .okPawPath{
    background-color: #22b8cf;
    display: inline-block;
    /* border-radius: 5px; */
    border: 4px solid black;
    padding: 5px;
    /* margin: 15vh auto; */
    margin-right: 50px;
    text-align: center;
    width: 220px;
    float: right;
}
#claimedPawPath .okPawPath:hover{
    background-color: #99e9f2;

}


#notEnoughPaws{
    display: none;
    background-image: linear-gradient(to right, #66a80f, #c0eb75);
    background-size:cover;
    color: white;
    /* position: absolute; */
    width: 780px;
    /* border-radius: 5px; */
    border: black solid 7px;
    left: 40vw;
    margin: 15vh auto;
    margin-top: 15vh;
    padding: 20px 8px 8px;
    box-sizing: border-box;
    margin-bottom: 100vh;
    font-size: 20px;
}
/* Designing dialog box's okay button */
#notEnoughPaws .okNotEnoughPaws{
    background-color: #22b8cf;
    display: inline-block;
    /* border-radius: 5px; */
    border: 4px solid black;
    padding: 5px;
    /* margin: 15vh auto; */
    margin-right: 50px;
    text-align: center;
    width: 220px;
    float: right;
}
#notEnoughPaws .okNotEnoughPaws:hover{
    background-color: #99e9f2;

}
/* Dialog box message decorating */
#notEnoughPaws .notEnoughPaws{
    text-align: left;
    padding: 10px 30px;
}
/* Dialog box message decorating */
#notEnoughPaws .notEnoughPaws{
    text-align: left;
    padding: 10px 30px;
}

#declareComputerWinner{
    display: none;
    background-image: linear-gradient(to right, #66a80f, #c0eb75);
    background-size:cover;
    color: white;
    /* position: absolute; */
    width: 900px;
    /* border-radius: 5px; */
    border: black solid 7px;
    left: 40vw;
    margin: 15vh auto;
    margin-top: 15vh;
    padding: 16px 8px 8px;
    box-sizing: border-box;
    margin-bottom: 100vh;
}
/* Designing dialog box's okay button */
#declareComputerWinner .yesDeclareWinner{
    background-color: #5c940d;
    display: inline-block;
    /* border-radius: 5px; */
    border: 4px solid black;
    padding: 5px;
    /* margin: 15vh auto; */
    margin-left: 170px;
    text-align: center;
    width: 220px;
    float: none;
}
#declareComputerWinner .noDeclareWinner{
    background-color: #22b8cf;
    display: inline-block;
    /* border-radius: 5px; */
    border: 4px solid black;
    padding: 5px;
    /* margin: 15vh auto; */
    margin-right: 170px;
    text-align: center;
    width: 220px;
    float: right;
}
#declareComputerWinner .yesDeclareWinner:hover {
    background-color: #82c91e;

}
#declareComputerWinner .noDeclareWinner:hover {
    background-color: #99e9f2;

}
/* Dialog box message decorating */
#declareComputerWinner .declareWinner{
    text-align: left;
    padding: 10px 30px;
}

#declarePlayerWinner{
    display: none;
    background-image: linear-gradient(to right, #66a80f, #c0eb75);
    background-size:cover;
    color: white;
    /* position: absolute; */
    width: 900px;
    /* border-radius: 5px; */
    border: black solid 7px;
    left: 40vw;
    margin: 15vh auto;
    margin-top: 15vh;
    padding: 16px 8px 8px;
    box-sizing: border-box;
    margin-bottom: 100vh;
}
/* Designing dialog box's okay button */
#declarePlayerWinner .yesDeclareWinner{
    background-color: #5c940d;
    display: inline-block;
    /* border-radius: 5px; */
    border: 4px solid black;
    padding: 5px;
    /* margin: 15vh auto; */
    margin-left: 170px;
    text-align: center;
    width: 220px;
    float: none;
}
#declarePlayerWinner .noDeclareWinner{
    background-color: #22b8cf;
    display: inline-block;
    /* border-radius: 5px; */
    border: 4px solid black;
    padding: 5px;
    /* margin: 15vh auto; */
    margin-right: 170px;
    text-align: center;
    width: 220px;
    float: right;
}
#declarePlayerWinner .yesDeclareWinner:hover {
    background-color: #82c91e;

}
#declarePlayerWinner .noDeclareWinner:hover {
    background-color: #99e9f2;

}
/* Dialog box message decorating */
#declarePlayerWinner .declareWinner{
    text-align: left;
    padding: 10px 30px;
}

#declareTie{
    display: none;
    background-image: linear-gradient(to right, #66a80f, #c0eb75);
    background-size:cover;
    color: white;
    /* position: absolute; */
    width: 900px;
    /* border-radius: 5px; */
    border: black solid 7px;
    left: 40vw;
    margin: 15vh auto;
    margin-top: 15vh;
    padding: 16px 8px 8px;
    box-sizing: border-box;
    margin-bottom: 100vh;
}
/* Designing dialog box's okay button */
#declareTie .yesDeclareWinner{
    background-color: #5c940d;
    display: inline-block;
    /* border-radius: 5px; */
    border: 4px solid black;
    padding: 5px;
    /* margin: 15vh auto; */
    margin-left: 170px;
    text-align: center;
    width: 220px;
    float: none;
}
#declareTie .noDeclareWinner{
    background-color: #22b8cf;
    display: inline-block;
    /* border-radius: 5px; */
    border: 4px solid black;
    padding: 5px;
    /* margin: 15vh auto; */
    margin-right: 170px;
    text-align: center;
    width: 220px;
    float: right;
}
#declareTie .yesDeclareWinner:hover {
    background-color: #82c91e;

}
#declareTie .noDeclareWinner:hover {
    background-color: #99e9f2;

}
/* Dialog box message decorating */
#declareTie .declareWinner{
    text-align: left;
    padding: 10px 30px;
}


/*buttons*/
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

#title {
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    /* padding: 1vh;
    margin: 1vh; */
    /* justify-self: center; */
}
.title {
    margin-top: 3vh;
    margin-left: 8px;
    margin-right: 8px;
}
#computerScore {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}

#playerScore {
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}
.cards {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 10px;
    border: 0px;
}

#catpath {
    height: 12vh;
    background-color: transparent;
    display: block;
    margin: auto;
}

.catpaths {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
}

.pawprints {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#needHelp {
    margin-right: 10px;
}

#feedback {
    margin-left: 10px;
    margin-right: 10px;
}

#restart {
    margin-left: 10px;
}

#pawprint {
    height: 12vh;
}

.info {
    margin: 10px 10px 20px 10px;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    color: white;
    height: 22vh;
    width: 300vh;
}
.hidden{
    display: none
}

.catPathCards {
    display: flex;
    height: 10vh;
    margin-right: 2px;
}
ul li {
    display: inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.playerInfo {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    border: 5px solid black;
    padding: 5px;
    background: #92CC41;
    min-width: 30vw;
}

.computerInfo {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    border: 5px solid white;
    padding: 5px;
    background: #92CC41;
    color: white;
    min-width: 30vw;
}

#computerBlack #computerGrey #computerWhite #computerOrange #computerBrown {
    color: white
}
.turn {
    color: black;
    border: 3px solid black;
    background:   #92CC41;  
    /* box-sizing: border-box; */
    margin-top: 100px;
    height:65px;
    padding: 10px;
}

.playerPawPrints {
    color: black;
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-auto-rows: minmax(60px, auto);
}
#playerOrange {
    grid-column: 1;
    grid-row: 1;
    }
#playerBlack {
    grid-column: 2;
    grid-row: 1;
    }
#playerGrey {
    grid-column: 1;
    grid-row: 2;
    }
#playerWhite {
    grid-column: 2;
    grid-row: 2;
    }
#playerBrown {
    grid-column: 1;
    grid-row: 3;
    }
.computerPawPrints {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-auto-rows: minmax(60px, auto);
}
#computerOrange {
    grid-column: 1;
    grid-row: 1;
    }
#computerBlack {
    grid-column: 2;
    grid-row: 1;
    }
#computerGrey {
    grid-column: 1;
    grid-row: 2;
    }
#computerWhite {
    grid-column: 2;
    grid-row: 2;
    }
#computerBrown {
    grid-column: 1;
    grid-row: 3;
    }
.pawPrintCards {
    height: 5vh;
    display: inline-block
}

.playerScore {
    display: flex;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-self: center;
}

.computerScore {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: center;
    justify-self: center;
}



h1 {
    font-weight: 800;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

p {
    font-size: 80%;
    color: black;
}

.gameboard {
    display: flex;
    justify-content: center;
    
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(11, 135px);
    grid-auto-rows: minmax(135px, auto);
    max-width: 1225px;
    margin-bottom: 30px;
    background: rgba(255, 255, 255, .7);
    border-radius: 30px;

}
.one {
    grid-column: 1 / 3;
    grid-row: 1 / 3;

  }
.onea {
    grid-column: 3;
    grid-row: 1;

}
.two {
grid-column: 4 / 6;
grid-row: 1;
}
.three {
grid-column: 6 / 9;
grid-row: 1;
}

.threea {
grid-column: 9;
grid-row: 2;
}
.four {
grid-column: 2;
grid-row: 3;
}
.five {
grid-column: 3;
grid-row: 2 / 4;
}
.six {
grid-column: 4 / 6;
grid-row: 2;
}
.seven {
grid-column: 6;
grid-row: 2;
}
.eight {
grid-column: 7 / 9;
grid-row: 2 / 4;
}
.nine {
grid-column: 1;
grid-row: 3 / 5;
}
.ten {
grid-column: 4 / 6;
grid-row: 3;
}
.eleven {
grid-column: 6;
grid-row: 3 / 5;
}
.thirteen {
grid-column: 2 / 4;
grid-row: 4;
}
.fifteen {
grid-column: 4 / 6;
grid-row: 4;
}
.sixteen {
grid-column: 9;
grid-row: 3 / 5;
}
.seventeen {
grid-column: 7 / 9;
grid-row: 4;
}
